body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.center-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    text-align: center;
}

.center-heading h1 {
    font-size: 50px;
    color: #2f00ff;
}
